.article > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--content-width);
  padding-inline: var(--padding-default);
}

.article > * + * {
  margin-block-start: var(--default-article-margin-block-start);
}

.article > .image-wrapper:not(:nth-child(2)),
.article > .gallery-wrapper:not(:nth-child(2)),
.article > .video-wrapper:not(:nth-child(2)) {
  clear: both;
  margin-block-start: var(--space-l);
}

.article > .gallery-wrapper + *,
.article > .image-wrapper + *,
.article > .video-wrapper + * {
  margin-block-start: var(--space-l);
}

.article > .poi-wrapper {
  max-width: var(--content-width);
}

@media (min-width: 1000px) {
  .article > .poi-wrapper:not(.align-none, .align-center) {
    max-width: var(--wide-content-width);
  }
}

.article > .align-wide,
.article > .align-left,
.article > .align-right {
  max-width: var(--wide-content-width);
}

.article > .align-full {
  max-width: 100%;
}

@media (min-width: 1000px) {
  .align-left > * {
    width: 50%;
    float: left;
    margin-right: var(--space-m-l);
  }

  .align-right > * {
    width: 50%;
    float: right;
    margin-left: var(--space-m-l);
  }

  .align-right > *:last-child,
  .align-left > *:last-child {
    margin-bottom: var(--space-m-l);
  }

  .article > .align-left + *,
  .article > .align-right + * {
    margin-block-start: var(--default-article-margin-block-start);
  }
}

.article > .image-wrapper + .image-wrapper,
.article > .image-wrapper + .gallery-wrapper,
.article > .gallery-wrapper + .image-wrapper {
  margin-block-start: var(--space-2xl);
}

.article__headline {
  font-size: var(--step-3);
  font-weight: var(--headline-font-weight);
  font-family: var(--headline-font-family);
}

.article__footer {
  margin-block-start: var(--space-l);
  font-size: var(--step--1);
  text-align: right;
  clear: both;
}

.article + .article {
  margin-block-start: var(--space-4xl-5xl);
}
