blockquote {
  border-left: 0.5rem solid var(--color-primary);
  padding: var(--space-xs) calc(var(--space-s) - 0.25rem) !important;
  background: var(--background-light);
}

blockquote footer {
  margin-top: var(--space-s);
  font-size: var(--step--1);
}
