button {
  background-color: var(--background-dark-2);
  border: 0.2em solid var(--color-primary-2);
  color: var(--color-text-invert);
  text-transform: uppercase;
  padding: var(--space-2xs) var(--space-s);
  font-weight: bold;
  letter-spacing: 1px;
}

input {
  border: 0.2em solid var(--color-primary-2);
  padding: var(--space-2xs) var(--space-2xs);
}
