.container {
  width: 100%;
  max-width: var(--content-width);
  margin-inline: auto;
  padding-inline: var(--padding-default);
}

.container-wide {
  width: 100%;
  max-width: var(--wide-content-width);
  margin-inline: auto;
  padding-inline: var(--padding-default);
}
