*:focus {
  outline: none;
}

*:focus-visible {
  outline: 3px dashed var(--color-secondary);
  outline-offset: 2px;
  text-decoration: none;
}

@supports not selector(:focus-visible) {
  *:focus {
    outline: 3px dashed var(--color-secondary);
    outline-offset: 2px;
    text-decoration: none;
  }
}
