.site-footer {
  background-color: var(--background-dark);
  color: var(--color-text-invert);
}

.footer-navigation-wrapper {
  position: relative;
  padding: var(--space-s);
  border-radius: 4px 4px 0 0;
  max-width: var(--content-width);
  margin: 0 auto;
}

.footer-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s);
}

.footer-navigation + .footer-navigation {
  margin-top: var(--space-s);
}

.footer-navigation__item {
  display: inline;
}

.site-footer a {
  color: var(--color-text-invert);
}
