.site-footer {
  max-width: var(--contentWidth);
  margin: var(--space-4xl) auto 0;
}

.footer-navigation-wrapper {
  position: relative;
  padding: var(--space-s);
  background: var(--background-light);
  border-radius: 4px 4px 0 0;
}

.footer-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s);
}

.footer-navigation + .footer-navigation {
  margin-top: var(--space-s);
}

.footer-navigation__item {
  display: inline;
}
