.site-footer {
  background-color: var(--background-dark);
  color: var(--color-text-invert);
  font-size: var(--step--1);
}

.footer-navigation-wrapper {
  margin-block-start: var(--space-2xl-3xl);
  position: relative;
  padding-block-end: var(--space-s);
  border-radius: 4px 4px 0 0;
}

.footer-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-s);
}

.footer-navigation + .footer-navigation {
  margin-block-start: var(--space-s);
}

.footer-navigation__item {
  display: inline;
}

.site-footer a {
  color: var(--color-text-invert);
}

.site-footer-searchform {
  display: flex;
  gap: var(--space-2xs);
}

.site-footer-searchform input {
  width: 100%;
}
