.gallery-wrapper {
  max-width: var(--wideContentWidth);
}

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--space-xl);
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
