.gallery-wrapper {
  max-width: var(--wideContentWidth);
}

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl);
  justify-content: space-between;
  max-width: 100%;
}

.gallery picture {
  width: 50%;
  min-width: 50%;
  align-self: center;
}
