.gallery-wrapper {
  max-width: var(--wide-content-width);
}

.gallery {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--space-xl);
  grid-template-columns: 1fr;
}

@media (width >= 960px) {
  .gallery {
    grid-template-columns: repeat(var(--columns, 2), 1fr);
  }

  .gallery--odd > *:last-child {
    grid-column-start: span 2;
  }

  .gallery--odd > *:last-child .image {
    margin-inline: auto;
    max-width: calc(50% - (var(--space-xl) / 2));
  }
}
