.site-header__content {
  max-width: var(--contentWidth);
  padding: var(--space-l) var(--space-s);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.site-header__title {
  font-size: var(--step-0);
  font-weight: var(--headlineFontWeight);
  font-family: var(--headlineFontFamily);
  text-transform: uppercase;
  line-height: 1;
  padding: 0 var(--space-xs) var(--space-xs) 0;
  letter-spacing: 0.1em;
  position: relative;
}

.site-header__title::before {
  content: "";
  display: block;
  width: 60vw;
  height: calc(var(--space-l) * 2);
  position: absolute;
  bottom: 0;
  right: 0;
  background: var(--backgroundGradientBlue);
  z-index: -1;
}

.site-header a,
.site-header a:visited {
  text-decoration-color: transparent;
  color: var(--backgroundPrimary);
}

.site-header a:hover {
  text-decoration-color: var(--colorSecondary);
}

.site-header + * {
  margin-top: var(--space-2xl-3xl);
}
