.site-header__content {
  max-width: var(--contentWidth);
  padding: var(--space-l-xl) var(--space-s);
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.site-header a,
.site-header a:visited {
  font-size: var(--step-3);
  font-weight: var(--headlineFontWeight);
  font-family: var(--headlineFontFamily);
  text-transform: uppercase;
  color: var(--colorPrimary);
  text-decoration-color: transparent;
}

.site-header a:hover {
  text-decoration-color: var(--colorSecondary);
}

.site-header + * {
  margin-top: var(--space-l-xl);
}
