a {
  color: hsl(216, 71%, 23%);
  font-weight: bold;
  text-decoration-color: hsl(48, 100%, 50%);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  transition: text-decoration-color 100ms linear, color 100ms linear, text-underline-offset 100ms linear;
}

a:visited {
  color: hsl(216, 11%, 23%);
  text-decoration-color: hsl(48, 50%, 50%);
}

a:hover {
  color: hsl(216, 71%, 13%);
  text-decoration-color: hsl(48, 100%, 60%);
  text-underline-offset: 0.15em;
}

