a {
  color: var(--colorPrimary);
  font-weight: bold;
  text-decoration-color: var(--colorSecondary);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.1em;
  transition: text-decoration-color 100ms linear, color 100ms linear, text-underline-offset 100ms linear;
}

a:visited {
  color: var(--colorPrimaryDesaturated);
  text-decoration-color: var(--colorSecondaryDesaturated);
}

a:hover {
  color: var(--colorPrimaryLight);
  text-decoration-color: var(--colorSecondary);
  text-underline-offset: 0.15em;
}
