.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: var(--space-4xl) 0 0;
  gap: var(--space-s);
  justify-content: center;
  padding: 0 var(--space-s);
}

.pagination a,
.pagination span {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
}

.pagination a {
  border-color: currentColor;
  text-decoration: none;
  line-height: 1;
}

.pagination a.pagination__currentpage {
  border: transparent;
}
