.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-block-start: var(--space-4xl);
  gap: var(--space-xs);
  justify-content: center;
}

.pagination a,
.pagination span {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  line-height: 1;
  box-shadow: var(--shadow-elevation-low);
  border-radius: 4px;
  background-color: var(--background-light);
  transition: background-color 100ms ease-out, box-shadow 100ms ease-out;
}

.pagination a:hover {
  background-color: var(--background-medium);
  box-shadow: none;
}

.pagination a[aria-current] {
  background-color: transparent;
  box-shadow: none;
}

@media screen and (max-width: 55rem) {
  .pagination__item {
    display: none;
  }
}
