.poi-wrapper {
  max-width: var(--wideContentWidth);
}

.poi {
  width: 100%;
  max-width: var(--contentWidth);
  margin-left: auto;
  margin-right: auto;
  background: var(--backgroundPrimary);
}

@media (min-width: 1200px) {
  .poi {
    width: 50%;
    float: right;
    margin-left: var(--space-m-l);
    margin-bottom: var(--space-m-l);
  }
}

.poi__title {
  padding: var(--space-xs) var(--space-xs) var(--space-2xs) var(--space-xs);
  text-align: center;
  font-size: var(--step-0);
}

.poi__description {
  padding: var(--space-xs);
}
