.site-archive > * + * {
  margin-block-start: var(--space-2xl);
}

.site-archive summary {
  border-block-end: 1px solid var(--color-secondary);
}

.site-archive summary + * {
  margin-block-start: 1em;
}

.site-archive summary > * {
  display: inline;
}

.site-archive details {
  background-color: var(--background-light);
  padding: var(--space-xs);
}

.site-archive details ul {
  margin-block-start: var(--space-xs);
}

.site-archive details li {
  margin-block-start: var(--space-2xs);
}

.site-archive details + details {
  margin-block-start: var(--space-l);
}

.site-archive details h3 {
  margin-block-start: var(--space-m);
}

.site-archive__date {
  font-size: var(--step--1);
}
