.teaser {
  padding: var(--space-s);
  background-color: var(--backgroundPrimary);
  position: relative;
  transition: box-shadow 100ms ease-out;
}

.teaser__headline {
  font-size: var(--step-1);
}

.teaser__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teaser:hover {
  box-shadow: var(--boxShadowSmall);
}

.teaser__footer {
  font-size: var(--step--1);
  margin-top: var(--space-xs);
}

.teaser__small-link {
  position: relative;
  z-index: 2;
}

.archive-flow {
  margin-top: var(--space-xl);
}

.archive-flow > * + * {
  margin-top: var(--space-l);
}
