.teaser {
  padding: var(--space-s);
  background-color: var(--background-light);
  position: relative;
  box-shadow: var(--shadow-elevation-low);
  border-radius: 4px;
  transition: background-color 100ms ease-out, box-shadow 100ms ease-out;
}

.teaser__headline {
  font-size: var(--step-1);
}

.teaser__link::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.teaser:hover {
  background-color: var(--background-medium);
  box-shadow: none;
}

.teaser__footer {
  font-size: var(--step--1);
  margin-block-start: var(--space-xs);
  display: flex;
  align-items: center;
  gap: var(--space-3xs);
  flex-wrap: wrap;
}

.teaser__small-link {
  position: relative;
  z-index: 2;
}

.teaser__icon {
  height: 1.25em;
  display: inline-block;
}

.archive-flow {
  margin-block-start: var(--space-xl);
}

.archive-flow > * + * {
  margin-block-start: var(--space-l);
}
