@font-face {
  font-family: Vollkorn;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/vollkorn-v21-latin-700.woff2") format("woff2"),
    url("../fonts/vollkorn-v21-latin-700.woff") format("woff");
}

:root {
  /*
  Breiten und Abstände
  @link https://utopia.fyi/space/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7|12,s-xl&g=s,xl,xl,12
  */
  --space-3xs: clamp(0.25rem, calc(0.22rem + 0.15vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.45rem + 0.23vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.67rem + 0.38vw), 1.06rem);
  --space-s: clamp(1rem, calc(0.91rem + 0.45vw), 1.38rem);
  --space-m: clamp(1.5rem, calc(1.36rem + 0.68vw), 2.06rem);
  --space-l: clamp(2rem, calc(1.81rem + 0.91vw), 2.75rem);
  --space-xl: clamp(3rem, calc(2.72rem + 1.36vw), 4.13rem);
  --space-2xl: clamp(4rem, calc(3.63rem + 1.82vw), 5.5rem);
  --space-3xl: clamp(6rem, calc(5.44rem + 2.73vw), 8.25rem);
  --space-4xl: clamp(7rem, calc(6.34rem + 3.18vw), 9.63rem);
  --space-5xl: clamp(12rem, calc(10.88rem + 5.45vw), 16.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.53vw), 0.69rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.36rem + 0.68vw), 1.06rem);
  --space-xs-s: clamp(0.75rem, calc(0.59rem + 0.76vw), 1.38rem);
  --space-s-m: clamp(1rem, calc(0.73rem + 1.29vw), 2.06rem);
  --space-m-l: clamp(1.5rem, calc(1.19rem + 1.52vw), 2.75rem);
  --space-l-xl: clamp(2rem, calc(1.47rem + 2.58vw), 4.13rem);
  --space-xl-2xl: clamp(3rem, calc(2.38rem + 3.03vw), 5.5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.94rem + 5.15vw), 8.25rem);
  --space-3xl-4xl: clamp(6rem, calc(5.09rem + 4.39vw), 9.63rem);
  --space-4xl-5xl: clamp(7rem, calc(4.63rem + 11.52vw), 16.5rem);

  /* Custom pairs */
  --space-s-xl: clamp(1rem, calc(0.22rem + 3.79vw), 4.13rem);

  /* @link https://utopia.fyi/type/calculator/?c=330,16,1.2,1650,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,xl,12 */
  --step--2: clamp(0.69rem, calc(0.67rem + 0.13vw), 0.80rem);
  --step--1: clamp(0.83rem, calc(0.79rem + 0.20vw), 1.00rem);
  --step-0: clamp(1.00rem, calc(0.94rem + 0.30vw), 1.25rem);
  --step-1: clamp(1.20rem, calc(1.11rem + 0.44vw), 1.56rem);
  --step-2: clamp(1.44rem, calc(1.31rem + 0.62vw), 1.95rem);
  --step-3: clamp(1.73rem, calc(1.55rem + 0.86vw), 2.44rem);
  --step-4: clamp(2.07rem, calc(1.83rem + 1.19vw), 3.05rem);
  --step-5: clamp(2.49rem, calc(2.16rem + 1.61vw), 3.82rem);

  /* Extra Schriftgröße für Eingabefelder: Mindestens 16px, aber nicht so groß wie --step-0 am Ende */
  --step-input: clamp(1rem, calc(0.91rem + 0.45vw), 1.1rem);

  /*
  Eigene Breiten und Abstände
  Annährungswert an 70ch für Textabsätze
  */
  --content-width: clamp(50rem, calc(30rem + 30vw), 55rem);
  --wide-content-width: 1200px;
  --default-article-margin-top: 1.5em;

  /* Schrift */
  --headline-font-family: "Vollkorn", cursive;
  --headline-font-weight: 700;

  /*
  Basis
  @link https://coolors.co/d4ad21-f9fafb-f2f3f8-dbe9f0-1d3557
  @link https://coolors.co/d4ad21-f9fafb-fe4a49-dbe9f0-1d3557
  */
  --color-primary: hsl(215deg 50% 20%);
  --color-primary-2: hsl(215deg 10% 30%);
  --color-secondary: hsl(47deg 73% 48%);
  --color-secondary-2: hsl(39deg 92% 77%);
  --color-tertiary: hsl(200deg 40% 90%);

  /* Text */
  --color-text: hsl(220deg 21% 11%);
  --color-text-invert: hsl(220deg 25% 98%);

  /* Hintergründe */
  --background-body: hsl(220deg 25% 98%);
  --background-light: hsl(0deg 0% 100%);
  --background-light-transparent: hsl(0deg 0% 100% / 0.85);
  --background-medium: hsl(220deg 25% 100%);
  --background-dark: hsl(215deg 50% 20%);
  --background-dark-2: hsl(215deg 50% 10%);
  --background-dark-transparent: hsl(215deg 50% 20% / 0.25);

  /*
  Schatten
  @link https://www.joshwcomeau.com/shadow-palette/
  */
  --shadow-color: 240deg 5% 45%;
  --shadow-elevation-low: 0px 0.5px 0.9px hsl(var(--shadow-color) / 0),
    1px 1px 1.8px hsl(var(--shadow-color) / 0.28),
    1px 2.2px 3.9px hsl(var(--shadow-color) / 0.55);
  --shadow-elevation-high: 0px 0px 0.2px hsl(var(--shadow-color) / 0.81),
    0px 0px 0.2px -0.7px hsl(var(--shadow-color) / 0.71),
    1px 1px 0.7px -1.4px hsl(var(--shadow-color) / 0.61),
    2px 2px 1.9px -2.1px hsl(var(--shadow-color) / 0.51),
    4px 4px 4.1px -2.9px hsl(var(--shadow-color) / 0.4),
    8px 7px 7.9px -3.6px hsl(var(--shadow-color) / 0.3),
    13px 12px 13.5px -4.3px hsl(var(--shadow-color) / 0.2),
    21px 20px 21.4px -5px hsl(var(--shadow-color) / 0.1);
}
