.video-wrapper {
  width: 100%;
  max-width: var(--wide-content-width);
  height: auto;
}

.video {
  background: #eee;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: grid;
  box-shadow: var(--shadow-elevation-high);
}

.video > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.video iframe {
  display: block;
  width: 100%;
  align-self: stretch;
  background-color: var(--background-light);
}

.video picture {
  overflow: hidden;
}

.video img {
  object-fit: cover;
  width: 100%;
}

.video button {
  font-size: var(--step--1);
  border: 0;
  background-color: var(--background-dark-transparent);
  background-image: url('../images/play-circle-transparent.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12.5%;
  cursor: pointer;
  transition: background-size 100ms ease-out;
}

.video button:hover {
  background-size: 15%;
}

.video__disclaimer {
  font-size: var(--step--2);
  padding: var(--space-xs);
  text-align: center;
  align-self: end;
  background: var(--background-light-transparent);
  text-transform: uppercase;
  font-weight: 600;
}
