.article {
  padding: 0 var(--space-s);
}

.article > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--contentWidth);
}

.article > * + * {
  margin-top: var(--defaultArticleMarginTop);
}

.article > .gallery-wrapper,
.article > .image-wrapper,
.article > .video-wrapper {
  max-width: var(--wideContentWidth);
  margin-top: var(--space-xl);
}

.article > .gallery-wrapper + *,
.article > .image-wrapper + *,
.article > .video-wrapper + * {
  margin-top: var(--space-xl-2xl);
}

@media (min-width: 1000px) {
  .align-left > * {
    width: 50%;
    float: left;
    margin-right: var(--space-m-l);
    margin-bottom: var(--space-m-l);
  }

  .align-right > * {
    width: 50%;
    float: right;
    margin-left: var(--space-m-l);
    margin-bottom: var(--space-m-l);
  }

  .article > .align-left + *,
  .article > .align-right + * {
    margin-top: var(--defaultArticleMarginTop);
  }
}

.article > .image-wrapper + .image-wrapper {
  margin-top: var(--space-2xl);
}

.article__headline {
  font-size: var(--step-3);
  font-weight: var(--headlineFontWeight);
  font-family: var(--headlineFontFamily);
}

.article__footer {
  margin-top: var(--space-l);
  font-size: var(--step--1);
  text-align: right;
}

.article + .article {
  margin-top: var(--space-4xl);
}
