.article {
  padding: 0 var(--space-s);
}

.article > * {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--contentWidth);
}

.article > * + * {
  margin-top: 1em;
}

.article > .gallery-wrapper,
.article > .image-wrapper,
.article > .video-wrapper {
  max-width: var(--wideContentWidth);
  margin-top: var(--space-xl);
}

.article > .gallery-wrapper + *,
.article > .image-wrapper + *,
.article > .video-wrapper + * {
  margin-top: var(--space-xl-2xl);
}

.article > .image-wrapper + .image-wrapper {
  margin-top: var(--space-2xl);
}


.article__headline {
  font-size: var(--step-3);
  font-weight: var(--headlineFontWeight);
  font-family: var(--headlineFontFamily);
}

.article__footer {
  margin-top: var(--space-l);
  font-size: var(--step--1);
  text-align: right;
}

.article + .article {
  margin-top: var(--space-4xl);
}
