.site-header {
  padding: 0 var(--space-s);
}

.site-header__content {
  max-width: var(--contentWidth);
  padding: var(--space-l-xl) 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.site-header a,
.site-header a:visited {
  font-size: var(--step-3);
  font-weight: 700;
  font-family: 'Cabin Sketch', cursive;
  text-transform: uppercase;
  color: hsl(216, 71%, 23%);
  text-decoration-color: transparent;
}

.site-header a:hover {
  text-decoration-color: hsl(48, 100%, 60%);
}

.site-header + * {
  margin-top: var(--space-l-xl);
}
