h1, h2, h3, h4, h5, h6 {
  font-family: var(--headlineFontFamily);
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 0 1px #ddd;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

h3 {
  font-size: var(--step-2);
}

h4, h5, h6 {
  font-size: var(--step-1);
}
