/* @link https://utopia.fyi/space/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6|7,s-xl&g=s,xl,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, calc(0.22rem + 0.15vw), 0.38rem);
  --space-2xs: clamp(0.50rem, calc(0.45rem + 0.23vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.67rem + 0.38vw), 1.06rem);
  --space-s: clamp(1.00rem, calc(0.91rem + 0.45vw), 1.38rem);
  --space-m: clamp(1.50rem, calc(1.36rem + 0.68vw), 2.06rem);
  --space-l: clamp(2.00rem, calc(1.81rem + 0.91vw), 2.75rem);
  --space-xl: clamp(3.00rem, calc(2.72rem + 1.36vw), 4.13rem);
  --space-2xl: clamp(4.00rem, calc(3.63rem + 1.82vw), 5.50rem);
  --space-3xl: clamp(6.00rem, calc(5.44rem + 2.73vw), 8.25rem);
  --space-4xl: clamp(7.00rem, calc(6.34rem + 3.18vw), 9.63rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.53vw), 0.69rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.36rem + 0.68vw), 1.06rem);
  --space-xs-s: clamp(0.75rem, calc(0.59rem + 0.76vw), 1.38rem);
  --space-s-m: clamp(1.00rem, calc(0.73rem + 1.29vw), 2.06rem);
  --space-m-l: clamp(1.50rem, calc(1.19rem + 1.52vw), 2.75rem);
  --space-l-xl: clamp(2.00rem, calc(1.47rem + 2.58vw), 4.13rem);
  --space-xl-2xl: clamp(3.00rem, calc(2.38rem + 3.03vw), 5.50rem);
  --space-2xl-3xl: clamp(4.00rem, calc(2.94rem + 5.15vw), 8.25rem);
  --space-3xl-4xl: clamp(6.00rem, calc(5.09rem + 4.39vw), 9.63rem);

  /* Custom pairs */
  --space-s-xl: clamp(1.00rem, calc(0.22rem + 3.79vw), 4.13rem);
}

/* @link https://utopia.fyi/type/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,xl,12 */

:root {
  --step--2: clamp(0.69rem, calc(0.65rem + 0.23vw), 0.88rem);
  --step--1: clamp(0.83rem, calc(0.77rem + 0.32vw), 1.10rem);
  --step-0: clamp(1.00rem, calc(0.91rem + 0.45vw), 1.38rem);
  --step-1: clamp(1.20rem, calc(1.07rem + 0.63vw), 1.72rem);
  --step-2: clamp(1.44rem, calc(1.26rem + 0.86vw), 2.15rem);
  --step-3: clamp(1.73rem, calc(1.49rem + 1.16vw), 2.69rem);
  --step-4: clamp(2.07rem, calc(1.75rem + 1.56vw), 3.36rem);
  --step-5: clamp(2.49rem, calc(2.06rem + 2.07vw), 4.20rem);
}

/* @link https://utopia.fyi/grid/calculator?c=330,16,1.2,1650,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,xl,xl,12 */

:root {
  --grid-max-width: 103.13rem;
  --grid-gutter: var(--space-s-xl, clamp(1.00rem, calc(0.22rem + 3.79vw), 4.13rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

:root {
  --contentWidth: 800px;
  --wideContentWidth: 1200px;
}
