.video-wrapper {
  width: 100%;
  max-width: var(--wideContentWidth);
  height: auto;
}

.video {
  background: #eee;
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  display: grid;
  box-shadow: var(--boxShadow);
}

.video > * {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.video iframe {
  border: 0;
  display: block;
  width: 100%;
  align-self: stretch;
  background-color: #fafafa;
}

.video button {
  font-size: var(--step--1);
  border: 0;
  background-color: hsla(255, 0%, 0%, 0.25);
  background-image: url('../images/play-circle-transparent.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12.5%;
  cursor: pointer;
  transition: background-size 100ms ease-out;
}

.video button:hover {
  background-size: 15%;
}

.video__disclaimer {
  font-size: var(--step--2);
  padding: var(--space-xs);
  text-align: center;
  align-self: end;
  background: hsla(0, 0%, 100%, 0.85);
  text-transform: uppercase;
  font-weight: 600;
}
