<html>
    <head>
        <title>{{ page.title }} | {{ site.title }}</title>

        {{ css('assets/css/style.css') }}
    </head>

    <body>
        {% block content %}
            <p>Huch.</p>
        {% endblock %}
    </body>
</html>
